struct South(Signal:MapValueSignal)
{
    required list<string> South equal $GetSouth($BalanceDate,$$9);
    required signal BalanceDateSignal;
    required string BalanceDate;
    required string Type equal South;
    required bool NeedSigalDataFromAthene;
    optional SignalMode::type Mode default Autonomy;
    required uint32 Id;
    required string Name;
};

