struct TradingUniverse(Signal:MapValueSignal)
{
    required signal BalanceDateSignal;
    required list<string> TradingUniverse equal $GetTradingUniverse($None);
    required string Type equal TradingUniverse;
    optional bool Enabled default 1;
    required bool NeedSigalDataFromAthene;
    optional SignalMode::type Mode default Autonomy;
    required uint32 Id;
    required string Name;
};

