struct Jin(Signal:SingleValueSignal)
{
    required string Type equal Jin;
    required bool NeedSigalDataFromAthene;
    optional SignalMode::type Mode default Autonomy;
    required uint32 Id;
    required string Name;
};

