struct Zhangye(Strategy:strategy)
{
    required double PriceLimitForClosePosition;
    required double PriceLimitForOpenPosition;
    required double IVUnitForClosePosition;
    required double IVUnitForOpenPosition;
    required double LossThresholdForClosePosition;
    required double LossThresholdForOpenPosition;
    required sint32 DaysToMaturityForClosePosition;
    required sint32 DaysToMaturityForOpenPosition;
    required double StopLossRatio;
    required sint32 TargetPosition;
    required string UnderlyingInstName reference Instrument;
    required string ActionTime reference DateTime;
    required uint32 DependentSignalId;
    required string Type equal Zhangye;
    required double MinMaxPositionChangePercent;
    required sint32 XN;
    required sint32 XD;
    optional bool IsNightTrade default true;
    optional bool IsDayTrade default true;
    optional OrderType::type OrderType default OTGFD;
    optional string MatchType default "";
    optional string Market reference market default "";
    optional list<StrategyTradingRange> Ranges;
    required string EmitterType reference IInstructionEmitter;
    optional sint32 PreHardCloseSpread default 0;
    optional sint32 GTNBWaitTime default 1000;
    optional sint32 GTNBTolerance default 0;
    optional sint32 HCslip default 5;
    required list<FeederWithMarket> Instruments;
    required uint32 Portfolio reference Portfolio;
    optional bool Enabled default 1;
    optional string Description default "";
    required uint32 Id;
    required string Name;
};

